form {
    background: url('../assets/images/laptop1.jpg') center/cover no-repeat;
    width: 50%;
    margin:  auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 12px #04f004;
    color: #111;
    position: relative;
}

form > * {
    background: rgba(255,255,255,0.85);
    border-radius: 8px;
    padding: 4px 8px;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #111;
    text-align: center;
    text-shadow: 2px 2px 4px #fff;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"],input[type="date"],input[type="datetime-local"],input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #888888;
    cursor: pointer;
    color: #111;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; 
    box-shadow: 0 0 5px #888888;
    display: block;
    /* margin-left: auto;p;l. */
    margin-right: auto;
}
    